
header {
  padding: 535px 0 100px;
  background-image: linear-gradient(to bottom right, #28bfe8, yellow);
}



section{
  background-image: linear-gradient(to bottom right, white, rgb(246, 253, 248));

}

.bio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  opacity: 0.8;
  width:200px;
  height:370px;
  border-radius: 500%;
  object-fit: cover;
 
}

.card1{
  border: black 3px solid;
  border-radius: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.137);
  padding: 20px;
  margin-bottom: 30px;
}

.card2{
  border: black 3px solid;
  border-radius: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.137);
  padding: 20px;
  margin-bottom: 30px;
}

.card3{
  border: black 3px solid;
  border-radius: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.137);
  padding: 20px;
  margin-bottom: 20px;
}

.email{
  border-top: solid 
  1px 
  darkslategray;

  padding: 20px;
}


section {
  padding: 150px 0;
}
